<div class="wrapper flex flex--col">
  <mat-toolbar color="primary" class="example-toolbar flex flex__item--top">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1 class="example-app-name">Leaflet PoC</h1>
  </mat-toolbar>

  <mat-sidenav-container class="main-content flex__item">
    <mat-sidenav mode="over" #sidenav>Start</mat-sidenav>
    <mat-sidenav-content class="">
      <!-- <div id="mainmap" class="flex__item"></div> -->
      <app-main-map></app-main-map>
    </mat-sidenav-content>
  </mat-sidenav-container>
  <app-footer class="flex__item--middle"></app-footer>
</div>
