#mainmap {
    background-color: lightgoldenrodyellow;
    height: 100%;
    width: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
    background-color: black;
}

.main-content {
    height: 100%;
    width: 100%;
    background-color: lightblue;
}

.sidenav{
    width: 300px;
}